127.0.0.1:8888 {
        tls off
        log /uploadService.do uploadService.log "{remote} {when} {method} {uri} {proto} {status} {size} {latency} || BODY: {request_body}"
        log / access.log "{remote} {when} {method} {uri} {proto} {status} {size} {latency} || REQUEST: {request}"
        errors {
            405 ok.json
        }
}
